{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
		<a href="{% url 'post_new' %}" class="top-menu"><button type="button" class="btn btn-success">Success</button></a>
		<a href="#" class="top-menu" ><button type="button" class="btn btn-info">Info</button></a>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
				{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>